In [1]:

import pandas as pd
import numpy as np
import pickle

In [2]:
xls = pd.ExcelFile('../datasets/homicidios.xlsx')
data= pd.read_excel(xls, 'VICTIMAS')

In [3]:
data.columns= data.columns.str.lower()

In [4]:
data.head(5)

,id_hecho,fecha,aaaa,mm,dd,rol,victima,sexo,edad,fecha_fallecimiento
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [5]:
#Verificador de Dimension del DataFrame de Victimas
data.shape

(717, 10)

In [6]:
#Tipo de Datos de Columnas
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_hecho             717 non-null    object
 1   fecha                717 non-null    datetime64[ns]
 2   aaaa                 717 non-null    int64
 3   mm                   717 non-null    int64
 4   dd                   717 non-null    int64
 5   rol                  717 non-null    object
 6   victima              717 non-null    object
 7   sexo                 717 non-null    object
 8   edad                 717 non-null    object
 9   fecha_fallecimiento  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [7]:
data.isnull().sum()

id_hecho               0
fecha                  0
aaaa                   0
mm                     0
dd                     0
rol                    0
victima                0
sexo                   0
edad                   0
fecha_fallecimiento    0
dtype: int64

Se prescinden de las columnas 'AAAA', 'MM' , 'DD' y 'FECHA' porque las 3 primeras columnas se desprenden de la columa 'FECHA' y esta última ya se encuentra en el dataset de Hechos

In [8]:
data.drop(columns=['aaaa'], inplace=True)
data.drop(columns=['mm'], inplace=True)
data.drop(columns=['dd'], inplace=True)
data.drop(columns=['fecha'], inplace=True)

In [9]:
data['rol'] = data['rol'].str.title()
data['victima'] = data['victima'].str.title()
data['sexo'] = data['sexo'].str.title()

### Conversión del Tipo de Dato

In [10]:
data['fecha_fallecimiento'] = pd.to_datetime(data['fecha_fallecimiento'], format='%Y-%m-%d', errors='coerce')

In [11]:
data['fecha_fallecimiento'] = data['fecha_fallecimiento'].dt.date
data['fecha_fallecimiento'] = data['fecha_fallecimiento'].replace(pd.NaT, '')

In [12]:
data['edad'] = pd.to_numeric(data['edad'], errors="coerce" )

In [13]:
data['edad'] = data['edad'].astype('Int64')

In [14]:
data.head(5)

    id_hecho        rol victima       sexo  edad fecha_fallecimiento
0  2016-0001  Conductor    Moto  Masculino    19          2016-01-01
1  2016-0002  Conductor    Auto  Masculino    70          2016-01-02
2  2016-0003  Conductor    Moto  Masculino    30          2016-01-03
3  2016-0004  Conductor    Moto  Masculino    18
4  2016-0005  Conductor    Moto  Masculino    29          2016-02-01

In [15]:

pickle_out = open("../datasets/dataVict.pkl","wb")
pickle.dump(data, pickle_out)
pickle_out.close()

In [16]:
data.insert(0, 'id', range(1, 1 + len(data)))

In [17]:
def getNormalizeDate(text):   
    text = str.lstrip(str.rstrip(text))
    text = text.replace('"', '')

    return text

In [18]:
data['id_hecho']= data['id_hecho'].astype(str).apply(getNormalizeDate)
data['rol']=data['rol'].astype(str).apply(getNormalizeDate)
data['victima']=data['victima'].astype(str).apply(getNormalizeDate)
data['sexo']=data['sexo'].astype(str).apply(getNormalizeDate)
data['fecha_fallecimiento']=data['fecha_fallecimiento'].astype(str).apply(getNormalizeDate)

In [19]:
data.to_csv('../sql/dataVictima.csv', header=False, index=False)